{{template "partials/header" .}}
<div class="section">
    <h1 class="title">Filters</h1>
    <h2 class="subtitle">
        Use this to filter down the cards you're looking for
    </h2>
    <div class="field">
        <label class="label">Category</label>
        <div class="control">
            {{range $name, $icon := .Categories}}
            <a
                class="button {{if ($.URL.CategoryExists $name)}}is-active is-primary{{end}}"
                href="/?q={{$.URL.GetToggledCategoryJSON $name}}"
            >
                <span>
                    <i class="fa-solid fa-{{$icon}}"></i>
                    {{$name}}
                </span>
            </a>
            {{end}}
        </div>
    </div>

    <div class="type">
        <label class="label">Type</label>
        <div class="control">
            {{range $name, $icon := .Types}}
            <a
                class="button {{if ($.URL.TypeExists $name)}}is-active is-primary{{end}}"
                href="/?q={{$.URL.GetToggledTypeJSON $name}}"
            >
                <span>
                    <i class="fa-solid fa-{{$icon}}"></i>
                    {{$name}}
                </span>
            </a>
            {{end}}
        </div>
    </div>
</div>

<div class="section">
    <h1 class="title">Cards</h1>
    <h2 class="subtitle">Currently viewing <b>{{len .Cards}}</b> cards</h2>
    {{range $letter := .Alphabet}}
    <h3>{{$letter}}</h3>
    <div class="buttons">
        {{range $.Cards}} {{if (eq (slice .Name 0 1) $letter)}}
        <a class="button" href="/?q={{$.URL.GetCardJSON .Name}}">
            <span>
                {{range $type, $icon := .Types}}
                <i
                    class="fa-solid fa-{{$icon}}"
                    style="
                    {{if ($.URL.TypeExists $type)}}
                        opacity: 0.5
                    {{else}}
                        opacity: 0.1
                    {{end}}
                    "
                ></i>
                {{end}} {{.Name}}
            </span>
        </a>
        {{end}} {{end}}
    </div>
    {{end}}
</div>

{{if .SelectedCardName}}
<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 100%">
        <header class="modal-card-head">
            <p class="modal-card-title">{{.SelectedCard}}</p>
            <a
                class="delete"
                aria-label="close"
                href='/?q={{.URL.GetCardJSON ""}}'
                }}
            ></a>
        </header>
        <section class="modal-card-body">
            <div class="grid is-col-min-10">
                {{range $key, $images := .SelectedCardImages}}
                <div class="cell">
                    <figure class="image">
                        <img src="{{$images.Large}}" />
                    </figure>
                </div>
                {{end}}
            </div>
        </section>
        <!-- --
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-success">Save changes</button>
                <button class="button">Cancel</button>
            </div>
        </footer>
        -->
    </div>
</div>
{{end}} {{template "partials/footer" .}}
